/* Root */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Tahoma;
}

html {
    background-color: #423f3f;
    color: #ffffff;
}

/* Navigation */
.nav-container {
    height: 15vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
}

.nav-container nav{
    height: 100%;
    box-sizing: border-box;
    
}

.nav-container nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-container nav ul h1 {
    font-size: 3.0em;
}

.nav-container nav ul li {
    border: 0.1875rem white solid; 
    border-radius: 0.625rem;
    margin: 0 1.3rem;
    padding: 0.3125em;
    font-size: 2.5em;
    min-width: 5em;
    text-align: center;
}

.nav-container nav ul li a{
    display:block;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@keyframes nav {
    from {color:#ffffff; background-color:none;}
    to {color:rgb(255, 0, 0); background-color:rgb(22, 22, 22);}    
}

.nav-container nav ul li a:hover, .nav-container nav ul li:hover {
    animation: nav 0.25s ease-in forwards;
}

/* Main Content Area */
.main-container {
    height: 85vh;
    text-align: center;
    margin-top:15vh;
    font-size: 1.8em;
    align-items: center;
}

.main-container h1 {
    margin: 1rem 0;
    text-shadow: 0.1875rem 0.1875rem black;
    text-decoration: underline;
}

.main-container h2 {
    margin: 1rem 0;
    text-shadow: 0.14rem 0.14rem black;
    font-size: 1.15em;
}

.main-container h3 {
    margin-left: 1.75rem;
    text-align: left;
}

.main-container p {
    margin: auto 2rem;
}

.main-container a {
    text-decoration: none;
    color:#ffffff;
}

.main-container a h4 {
    text-decoration: none;
    color:#ffffff;
}

.aboutme-p {
    margin: 1rem 3rem;
    text-align: left;
    font-size: 1em;
}

.aboutme-p a{
    color:#ffffff;
    text-decoration: none;
}

.mc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75em;
    grid-auto-rows: minmax(5em, auto);
}

.gridbox {
    background-color: rgb(50, 25, 25);
    border-radius: 0.8rem;
    margin: 1rem 2rem;
    padding: 1em;
    font-size: 1.75rem;
    font-weight: 600;
}

.mc-boxes {
    border: 0.1875rem rgb(50, 50, 50) solid;
    border-radius: 1rem;
    background-color: rgb(50, 25, 25);
    margin: 2rem 1rem;
    padding: 0.4rem;
}

.mc-boxes h4 {
    margin-top: 1rem;
    font-style: italic;
}

.divider {
    margin-top:1rem;
}

.mc-boxes img {
    width: 200px;
    background-color: #ffffff;
    align-items: center;
}

.mc-boxes video {
    width: 50rem;
    height: 43.75rem;
    align-items: center;
}

.mc-boxes iframe {
    width: 50rem;
    height: 43.75rem;
    align-items: center;
}

.mc-boxes a {
    text-decoration: none;
    color:#ffffff;
}

/* Responsive */
@media screen and (max-width: 980px) {
    nav {
        font-size: 12px;
    }

    .nav-container nav ul li {
        margin: 0 1.2rem;
    }

    .mc-grid > div {
        font-size: 1.5rem;
    }

    .mc-boxes video {
        width: 40rem;
        height: 33.75rem;
    }
    
    .mc-boxes iframe {
        width: 40rem;
        height: 33.75rem;
    }

}

@media screen and (max-width: 760px) {
    nav {
        font-size: 8px;
    }

    .nav-container nav ul li {
        margin: 0 1rem;
    }

    .mc-grid > div {
        font-size: 1.25rem;
    }

    .mc-boxes video {
        width: 30rem;
        height: 23.75rem;
    }
    
    .mc-boxes iframe {
        width: 30rem;
        height: 23.75rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-container nav ul li {
        margin: 0 0.3rem;
    }

    .mc-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .mc-boxes video {
        width: 20rem;
        height: 13.75rem;
    }
    
    .mc-boxes iframe {
        display: none;
    }

    .aboutme-p {
        font-size: 0.6em;
    }
}